<div id="<%= dom_id post %>" class="user-form post-display">
  <p class="post-attribute">
    <strong>Title:</strong>
    <span><%= post.title %></span>
  </p>

  <p class="post-attribute">
    <strong>Body:</strong>
    <span><%= post.body %></span>
  </p>
</div>
